.wrapper{
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "header header header"
        "content content content";
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 0.2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    header{
        grid-area: header;
    }
}