.avatar{
    position: fixed;
    bottom: 1vh;
    right: 2vw;
    padding-right: 2vw;

    button{
        font-size: 4rem;
        padding: 0;
        background: none;
        border: none;
        cursor: pointer;
        color: rgb(121, 125, 98);
    }
    .arrow{
        fill: rgb(206, 73, 38);
    }
    .popup{
        background-color: rgb(206, 73, 38);
        border-radius: 32px;
        height: 4rem;
        width: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        
        a{
            color: rgb(241, 220, 120);
            text-decoration: none;
        }
    }
}